<div style="background-color: #f3b624; color: blue; font-weight: bold; margin: auto; border-radius: 20px;">
  <h style="font-size: xx-large; display: block; text-align: center; ">Database Error</h>
  <p style="text-align: start; margin: 0 20px;">The file <span style="font-size: x-large; color: #c50e0e">{{ message }}</span> does not exist. Check that:
    <ul style="margin-top: 0;">
      <li> the database file exists in the correct location,</li>
      <li>the <span style="font-size: x-large; color: #c50e0e">location</span> and <span style="font-size: x-large; color: #c50e0e">filename</span> are correct in the sqlite plugin configuration file. </li>
    </ul>
  </p>
</div>
