<table{% if class %} class="{{ class }}"{% endif %}{% if id %} id="{{ id }}"{% endif %}>
  <thead>
    <tr>
      {% for item in fields %}
      <th{% if attribute(hidden,item) %} style="display: none;"{% endif %}>{{ item }}</th>
      {% endfor %}</tr>
  </thead>
  <tbody>
    {% for row in rows %}<tr>
      {% for col,item in row %}
        <td{% if attribute(hidden,col) %} style="display: none;"{% endif %}>{{ item }}</td>
      {% endfor %}</tr>
  {% endfor %}</tbody>
</table>
