<div style="background-color: #f3b624; color: blue; font-weight: bold; margin: auto; border-radius: 20px;">
  <h style="font-size: large; display: block; text-align: center; ">SQL Error</h>
  <p style="text-align: start; margin: 0 20px;">The SQL statement between the shortcode:</p>
  <p style="text-align: start; margin: 0 20px 0 30px; color: #1f6c23;">{{ content }}</p>
  <p style="text-align: start; margin: 0 20px;">generates the error</p>
  <p style="text-align: start; margin: 0 20px 0 30px; color: #c50e0e">{{ message }}</p>
</div>
